.calender-cell-grid:nth-child(7n + 3) {
  color: red;
}
.calender-cell-grid:nth-child(7n-3) {
  color: red;
}
.isHoliday-flex {
  display: flex;
  column-gap: 1px;
  row-gap: 1px;
  flex-wrap: wrap;
}
